*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}
img {
    width: 26px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-menu {
    margin: 0 16px;
}

.yt-logo {
    width: 80px;
    margin-left: 16px;
}

.menu-icons {
    display: grid;
    grid-template-columns: repeat(4,auto);
    align-items: center;
    gap: 1.5rem;
}   

.channel {
    width: 36px;
    border-radius: 50%;
}

.search-bar {
    display: flex;
    margin: 0 4rem; 
    flex-grow: 1;  
}

.search-input {
    width: 100%;
    font-size: 1rem;
    padding: 0.6em;
    border: 1px solid #c6c6c6;
}

.search-btn {
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
    border: 1px solid #c6c6c6;
    border-left: none;
    border-radius: 0;
    background: #f8f8f8;
    cursor: pointer;
}

.search-btn:hover {
    background: #f0f0f0;
}

.voice {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.mainbody {
    display: flex;
    height: calc(100% - 72px);
}

.sidebar {
    width: 230px;
}

.sidebar-category {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 15px 20px;
}

.sidebar-category:hover {
    background: #f9f9f9;
}
.sidebar-font {
    font-size: 0.9rem;
    margin-left: 24px;
}

.active {
    background: #e5e5e5;
    font-weight: bold;
} 

.active:hover {
    background: #ddd;
}

.video-container {
    display: flex;
    flex-direction: column;
}

.thumbnail-image {
    width: 100%;
    display: block;

}

.video-description {
    display: flex;
    margin-top: 1rem;
}

.video-description a {
    width: 3rem;
    height: 48px;
}

.channel-icon {
    width: 100%;
    border-radius: 50%;
}

.video-details {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.video-title {
    white-space: nowrap;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: -1.3rem;
}

.video-channel-name {
    font-size: 0.9rem;
    text-decoration: none;
    margin-bottom: -1.5rem;
    transition: 1s;
}

.video-channel-name:hover {
    color: black;
}

.video-channel-name, .video-metadata {
    color: #555;
    font-size: 0.9rem;
}

.thumbnail {
    position: relative;
    display: flex;
}

.thumbnail::before {
    content: attr(data-duration);
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: black;
    color: white;
    border-radius: 0.3rem;
    padding:0.1rem 0.3rem;
    font-size: 0.9rem;
}

.video {
    width: 100%;
    background: #f9f9f9;
}

.video-section {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 3rem 1rem;
    margin: 0 1.5rem;
    padding: 3rem 0;
    border-top: 0.25rem solid #ddd;
}

.video-section:first-child {
    border: none;
}

.video-section-title {
    display: flex;
    grid-column: 1/-1;
    justify-content: space-between;
    align-items: center;
    margin: -0.5rem 0;
}

.video-section-title-delete {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #555;
}
